#login {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 5px;
  background-image: url("https://images.pexels.com/photos/6324243/pexels-photo-6324243.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  height: 50rem;
}

.HomeIcon {
  width: 5.5rem;
  align-self: center;
  margin-right: 10px;
  color: #FFFFFF;

}

.btn-dark-login {
  border-radius: 10px;
  background-color: #6558f5;
  background-image: linear-gradient(#6558f5,#27a39b);
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 15px;
  padding: 10px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin-top: 2rem;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);

}

.login footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.login-form {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  
}

.titlelogin {
  margin-left : 100px
}

.form-username {
     display: flex;
     flex-direction: row;
     color:black; 
     margin-left:70px;
     padding:10px;
     font-size: large;
     
   
  .form-control{
    margin-left : 50px;
  }

}

.form-password {
  color:black;
       display: flex;
     flex-direction: row;
     margin-left:70px;
     font-size : large;

  .form-control{
    margin-left : 50px;
  }
}

.Tryagain {
  color:red;
  display : flex;
  justify-content: space-around;
  flex-direction: column;
}