@import '../styles/variables.scss';


.form {
  margin-top: 2em;
  margin-left: 2em;
  display: flex;
  flex-direction: column;
  align-items: left;
  font:$font-family;
  font-size: 15px;

  &__group {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 1em;
    
    label {
      margin-right: 4em;
      width: 4em;
      align-items: left;
    }
    input {
      align-items: left;
    }
    select {
      width: 10em;
    }
  }

  &__group2 {
    display: flex;
    flex-direction: row;

    label {
      margin-right: 2em;
      width: 8em;
      align-items: left;
    }

    select {
      width: 10em;
      margin-left: 0.5em;
    }
  }
    
}

.btn {
  background-color: $green;
  width: 8em;
  align-items:center;
}