$border-spec: 2px dashed #116e8a;
$bg-color: white;
$bg-image: url("https://www.transparenttextures.com/patterns/rough-cloth-light.png");
article {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  width: 99%;
  // border: $border-spec;
  border-radius: 10px;
  align-self: center;
  flex-grow: 1;
  height: auto;

  margin: 12px auto;
  box-sizing: border-box;
  border:3px solid #3394ac;
  
  background-color: $bg-color;
  background-image: $bg-image;
  div {
    margin: 5px;
    // padding: 3px;
  }
}

.left-section {
  display: flex;
  flex-direction: column;
  width: 70%;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.icon-name {
  display: flex;
  justify-content: space-between;
}

.name-age {
  display: flex;
  justify-content: space-between;
  border: $border-spec;
  border-radius: 5px;
  height: 3rem;
  width: 100%;
}

.photo {
  border: 3px dashed #3394ac;
  border-radius: 10px;
  object-fit: contain;
  overflow: hidden;
  margin-top: 3px;
  margin-bottom: 3px;
}


.icon-name {
  width: 40px;
  height: 40px;
}

.name {
  font-size: x-large;
  white-space: nowrap;
}
img:hover {
  box-shadow: 0 0 2px 1px rgba(16, 27, 31, 0.5);
}

.photo-info-container {
  width: 100%;
  display: inline-flex;
  justify-content: space-evenly;
  margin: 0 auto;
}
.photo-container {
  display: flex;
  width: 25%;
  justify-content: center;
  // object-fit: contain;
  object-fit: cover;
  overflow: hidden;
}

.right-of-photo {
  width: 70%;
}

.time-of-day {
  width: 100px;
  height: 100px;
}

.clock-image-container {
  text-align: center;
}

.chat-button {
  height: 60px;
  width: 50px;
}

.name-icon-container {
  display: inline-flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  width: 100%;
}

.name-icon {
  display: inline-flex;
  align-items: center;
  justify-content: left;
  width: 60%;
  word-wrap: break-word;
}


.right-of-photo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; 
}

.likes {
  display: flex;
  align-items: center;
  border: $border-spec;
  border-radius: 5px;
  width: 100%;
  // margin: 5px;
  text-align: left;
  align-self: center;
  min-height: 3rem;
  padding-left: 0.5rem;
  font-size: larger;
}

.interests {
  width: 100%;
  display: flex;
  align-items: center;
  border: $border-spec;
  border-radius: 5px;
  text-align: left;
  // justify-content: space-between;
  min-height: 3rem;
  padding-left: 0.5rem;
  font-size: larger;
}


.location {
  display: flex;
  align-items: center;
  border: $border-spec;
  border-radius: 5px;
  // margin: 5px;
  text-align: left;
  align-self: center;
  width: 100%;
  min-height: 3rem;
  padding-left: 0.5rem;
  font-size: larger;
}

.right-section {
  display: flex;
  width: 28%;
  // flex-direction:column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: space-between;
  font-weight: bold;
  height: 100%;
  padding-top: 5px;
  padding-right: 5px;
}
.preferred-time-user {
  border: $border-spec;
  border-radius: 5px;
  width: 100%;
  font-size: larger;
}

.chat-button-section {
  margin-top: 10px;
  margin-bottom: 0px;
  align-self: center;
  width: 100%;
}

#afternoon-tag {
  font-size: larger;
}

.chatbutton {
  border-radius: 10px;
  background-color: #6558f5;
  background-image: linear-gradient(#6558f5, #27a39b);
  border: 2px solid white;
  color: #ffffff;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  // width: 180px;
  transition: all 0.5s;
  cursor: pointer;
}

a.chatbutton {
  border-radius: 10px;
  background-color: #6558f5;
  background-image: linear-gradient(#6558f5, #27a39b);
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  // width: 180px;
  transition: all 0.5s;
  cursor: pointer;
  font-weight: bold;
}


.chatbutton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.chatbutton span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.chatbutton:hover span {
  padding-right: 25px;
}

.chatbutton:hover span:after {
  opacity: 1;
  right: 0;
}

.age-container {
  white-space: nowrap;
  font-size: larger;
}

p.user-p {
  margin: 0px;
}

p.user-p-pref {
  margin: 1rem;
}