body {
  display: flex;
  text-align: center;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-family: "Source Sans Pro", sans-serif;
}

.top-image {
  width: 100%;
}


.btn {
  background-color: #6558f5;
  color: white;
  font-weight: bold;
  margin-top: 10px;
}

.filter-section {
  display: flex;
  align-self: center;
  border: 2px solid lightgray;
  background-color:#1aae9f;
  background-image:url("https://images.unsplash.com/photo-1596468138838-0f34c2d0773b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80")
  ;
  height:4rem;
}
.filter-options {
  display: flex;

  flex-grow:1;
  justify-content: space-evenly;
}

.filter-button {
  width: 10rem;
}
.btn-filter {
  background-color: white;
  color: black;
  border: 2px solid lightgray;

}

.dropdown-toggle {
  background-color: white;
  color:#6558f5
}