.top-image {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 10px;

}


.fbtn {
  border-radius: 10px;
  background-color: #514947;
  // background-image: linear-gradient(#bb7f0e,#49515d);
  border: none;
  color: #1bae9f;
  text-align: center;
  font-size: 18px;
  // padding: 5px;
  width: 180px;
  transition: all 0.5s;
  cursor: pointer;
  font-weight: bold;
  margin-top: 10px;
}

.fbtn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.3s;
}

.fbtn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.fbtn:hover span {
  padding-right: 25px;
}

.fbtn:hover span:after {
  opacity: 1;
  right: 0; }

.filter-section {
  display: flex;
  flex-wrap: wrap;
  align-self: flex-start;
  align-content: center;
  // border: 2px solid rgb(151, 148, 148);
  background-color:#c99b69;

  background-image:url("https://www.transparenttextures.com/patterns/black-felt.png");
  ;
  height:auto;
  width: 100%;
  margin: 0px auto;
  border-radius: 10px;
 padding-bottom: 7px;
}
.filter-options {
  display: flex;
  align-items: center;
  flex-grow:1;
  justify-content: space-around;

}

.filter-button {
  width: 10rem;
  font-size: larger;
 align-items: center;

  
}
.btn-filter {
  background-color: white;
  color: black;
  border: 2px solid lightgray;

}

.dd-toggle {
  background-color: white;
  color:#6558f5;
  font-size: larger;
}

button {
  padding: 12px;
  
}