body {
  display: flex;
  text-align: center;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-family: "Source Sans Pro", sans-serif;
}

.top-image {
  width: 100%;
}

.filter-section {
  display: inline-flex;
}

.btn {
  background-color: #6558f5;
  color: white;
  font-weight: bold;
  margin-top: 10px;
}

